
// ROBERTO SLAB (thin 100, bold 700, regular), NOTO SANS (regular)
// font-family: 'Roboto Slab', serif;
// font-family: 'Noto Sans', sans-serif;

$h1Font:'Roboto Slab', serif;
$baseFont:'Noto Sans', 'Helvetica,' sans-serif;

    
h1{
    font-family: ($h1Font);
    font-weight: 700;
}

h2{
    font-family: ($baseFont);
}


