@import 'variables';
    
// HEADING STYLES
h1{
    font-family: ($h1Font);
    font-weight: 700;
}

h2{
    font-family: ($baseFont);
}

//GENERAL STYLES
footer p{
    font-family: ($baseFont);
    display: block;
    // background-color
}

