//FONTS

// ROBOTO SLAB (thin 100, bold 700, regular), Montserrat (regular)
// font-family: 'Roboto Slab', serif;
// font-family: 'Montserrat', sans-serif;



$h1Font:'Roboto Slab', serif;
$baseFont:'Montserrat', sans-serif;

//COLOURS

$purple: #7E395C;
$mustard: #FFBD46;
$lightgrey: #F7ECDF;
$turquoise: #76E2DC;