//FONTS

// ROBERTO SLAB (thin 100, bold 700, regular), NOTO SANS (regular)
// font-family: 'Roboto Slab', serif;
// font-family: 'Noto Sans', sans-serif;

$h1Font:'Roboto Slab', serif;
$baseFont:'Noto Sans', 'Helvetica,' sans-serif;

//COLOURS

//https://colorhunt.co/palette/147532

$darkpurple: #2d132c;
$raspberry: #801336;
$red: #c72c41;
$orange: #ee4540;
$footergrey:  #9c9a9a;