@import 'setup';
@import 'typography';
@import 'animation';

// styles for a 20-sided polygon
// styles for the modifier drop-down

// stretch goals: additional polygons


//GENERAL STYLES
// *{
//     border: 2px solid green;
// }


//HEADER STYLES
h1{
    text-align: center;
    background: ($darkpurple);
    padding: 5%;
    margin-top: 0;
}

header{
    margin-top: 0;
}

// header{
//     padding: 0;
//     margin: 0;
//     // display: block;
// }


//BODY STYLES
.d20,
.modifier,
.finalScore
footer{
    max-width: 100%;
}

body{
    padding: 0;
    margin: 0;
}

p.wtf{
    text-align: center;
}




//DIE STYLES

.d20Wrapper{
    display: flex;
    align-content: center;
    width: 100%;
    
}

.d20 {
    width: 10rem;
    height: 5.5rem;
    background: ($footergrey);
    position: relative;
}

.d20:before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 2.5rem solid ($footergrey);
}

.d20:after {
    content: "";
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-top: 2.5rem solid ($footergrey);
}


//FOOTER STYLES

footer{
    text-align: center;
    // margin-bottom: 0;
    display: block;
}

footer p{
    display: block;
    background-color: ($darkpurple);
    // margin-bottom: 0;
}



