@import 'setup';
@import 'typography';
@import 'animation';
@import 'mixins';


//HEADER STYLES

h1{
    text-align: center;
    background: ($purple);
    padding: 5%;
    margin-top: 0;
    @include for-small-phones{
        padding-top: 5%;
    }
    @include for-landscape-phones{
        .icon1{
            display: none;
        }
    }
}

header{
    margin-top: 0;
}

//GENERAL BODY STYLES

.d20,
.modifier,
.finalScore
footer{
    max-width: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
        .mainText{
            text-align: center;
        }
}

body{
    padding: 0;
    margin: 0;
    background: ($mustard);
    color: black;
    @include for-landscape-phones{
        height: 100vh;
    }
    
}

.clickPromptWrapper{
    width: 100%;
        p{
            font-weight: 700;
        }
}

p.finalRoll{
    font-weight: 700;
}

p.wtf{
    text-align: center;
    margin-top: 0;
    font-style: oblique;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    background:($turquoise);
}


//DIE STYLES


.d20Wrapper{
    max-width: 80%;
    margin: 0 auto;
        img{
            max-width: 100%;
        }
}

.rotating{
    @include for-small-phones{
        max-width: 90%;
    }
        :active{
            background: transparent;
        }
}

//FORM STYLES

form{
    margin-top: 10%;
    button{
        border-radius: 0.5rem;
        background: ($purple);
    }
    select{
        background: ($lightgrey);
        box-shadow: 0 1px 0 1p transparent;
        border-radius: 0.5rem;            
        box-sizing: border-box;
    }
}

//FOOTER STYLES

footer{
    text-align: center;
    display: block;
    p{
        display: block;
        background-color: ($turquoise);
        margin-bottom: 0;
    }
}